@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    color: brown;
    font-weight: 800;
}
.drawer-side a.active{
    color: blueviolet;
}
.drawer-side a{
    background-color: transparent;
}

